<!DOCTYPE html>
<html>
<head>
  <% include head %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <% include header %>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">
      <% include sidebar.ejs %>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- content -->
  <div class="content-wrapper">

    <section class="content-header">
      <a href="/partners">
        <i class="fa fa-caret-left"></i>
        Back
      </a>
      <h1>New Partner Profile</h1>
    </section>


    <section class="content">
      <div class="container-fluid">
        <form id="partner_form" method="POST" action="/partners/<%= partner.id %>">
          <input type="hidden" name="_method" value="PUT">
          <fieldset>
            <table class="table table-settings">
              <tbody>
              <tr>
                <th>Partner Name</th>
                <td><input type="text" class="form-control" name="partnerName" value="<%= partner.partnerName %>"/></td>
              </tr>
              <tr>
                <th>Address</th>
                <td><input type="text" class="form-control" name="address" value="<%= partner.address %>"/></td>
              </tr>
              <tr>
                <th>Location</th>
                <td>
                  <input type="text" class="form-control" name="location[lat]" value="<%= partner.location.lat %>" placeholder="Latitude"/>
                  <input type="text" class="form-control" name="location[lng]" value="<%= partner.location.lng %>" placeholder="Longitude"/>
                </td>
              </tr>
              <tr>
                <td>
                  <button type="submit" class="btn btn-primary">
                    Submit
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </fieldset>
        </form>
      </div>
    </section>

  </div>

  <!-- end: content -->

  <footer class="main-footer">
    <% include footer.ejs %>
  </footer>

</div>
<!-- ./wrapper -->

<% include foot.ejs %>
</body>
</html>
